#==============================================================
#	DISABLE INDEX FOLDER
#==============================================================
	Options -Indexes
#--------------------------------------------------------------#

#==============================================================
#	CODEIGNITER HTACCESS
#==============================================================
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php/ [PT,L]
#--------------------------------------------------------------#

#==============================================================
#	CODEIGNITER ENVIRONMENT
#==============================================================
	<IfModule mod_env.c>
		SetEnv CI_ENV production
	</IfModule>
#--------------------------------------------------------------#