body {font-family: 'Roboto', sans-serif;}
.user-panel { margin-bottom:30px; height:32px; overflow:hidden;}
.my-acc, .my-acc-login, .my-acc-register {float:right; background-color:#98ab3f; padding:5px 10px; color:#fff; border-radius:0 0 5px 5px;}
.my-acc-login { margin-left: 5px; }
.my-acc:hover, .my-acc-login:hover, .my-acc-register:hover  {color:#fff;}
.user-page .row{ margin-bottom:40px; }
.loginmodal-container {  padding: 30px;  max-width: 350px;  width: 100% !important;  background-color: #F7F7F7;  margin: 0 auto;  border-radius: 2px;  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);  overflow: hidden;  font-family: roboto;}
.loginmodal-container h1 {  text-align: center;  font-size: 1.8em;  font-family: roboto;}
.loginmodal-container input[type=submit] {  width: 100%;  display: block;  margin-bottom: 10px;  position: relative;}
.loginmodal-container input[type=text], input[type=password] {  height: 44px;  font-size: 16px;  width: 100%;  margin-bottom: 10px;  -webkit-appearance: none;  background: #fff;  border: 1px solid #d9d9d9;  border-top: 1px solid #c0c0c0;  /* border-radius: 2px; */  padding: 0 8px;  box-sizing: border-box;  -moz-box-sizing: border-box;}
.loginmodal-container input[type=text]:hover, input[type=password]:hover {  border: 1px solid #b9b9b9;  border-top: 1px solid #a0a0a0;  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
.loginmodal-submit {display: block;line-height: 50px;background: #a0c03c;border: medium none;color: #ffffff;font-size: 17px;font-weight: 600;height: 50px;margin: 20px 0 0;padding: 0;text-transform: uppercase;transition: all 0.5s ease 0s;width: 100%;}
.user-page .loginmodal-container {margin: auto;}
.header {padding-top: 30px; margin-bottom: 30px;}
.header .top {border-bottom: 1px solid #ddd; padding-bottom: 10px;}
.header .logo img {max-width: 100%;}
.header .phone, .header .dropdown-langs {float: left;}
.header .phone {margin-right: 15px} 
.header .dropdown-langs button {background-color: transparent; border:0;}
.header .search {position: relative; display: inline-block; float: right;}
.header .search .field {background: #ededed none repeat scroll 0 0; border:0; border-radius: 5px; padding: 5px; min-width: 230px;}
.header .search a {color:#000; position: absolute; right:8px; top:5px;}
.header .shop-dropdown {list-style: none; margin: 0; margin-top: 20px; padding: 0;}
.header .shop-dropdown i {font-size: 30px; color:#b3d236;}
.header .shop-dropdown .badge {position: absolute; right: 0; top: -5px;}
.mainmenu nav { margin-left: -15px;}
.mainmenu li {  display: inline-block;  position: relative;}
.mainmenu ul li a {  color:#333;  display: block;    font-size: 17px;    font-weight: bold;    line-height: 20px;    padding: 10px 20px 10px 0;    text-transform: uppercase;}
.mainmenu ul li.active a{color:#98ab3f}
.nav li a:focus, .nav li a:hover { background-color: #fff;}
.mainmenu ul li:hover a {color:#98ab3f; text-decoration: none;}
.mainmenu ul li a  i{font-size:12px;}
.mainmenu ul li ul li {display: block;}
.mainmenu ul li ul li a{font-weight:400;    text-transform:capitalize;}
.mainmenu ul li ul li a { font-size: 13px;    font-weight: 400;   padding: 5px 0;   text-transform: capitalize;}
.mainmenu ul li .megamenu { background: #fff none repeat scroll 0 0;    box-shadow: 0 0 5px #888;    left: -295px;    opacity: 0;    padding: 30px 30px 40px;    position: absolute;    transform: scaleY(0);    transform-origin: 0 0 0;    transition: all 0.5s ease 0s;    visibility: hidden;    width: 865px;    z-index: 2147483647;}
.mainmenu ul li:hover .megamenu{opacity:1;visibility:visible;	transform:scaleY(1);}
.mainmenu ul li .megamenu span{	width:33.333%;	float:left;padding:0px 10px;}
.mainmenu ul li .megamenu span a {  padding: 4px 0;  background: none;  font-weight: 400;  font-size:12px;}
.mainmenu ul li .megamenu span a.mega-title {  border-bottom: 1px solid #ddd;  color: #393939;  font-weight: 600;  margin-bottom: 5px;}
.mainmenu ul li .megamenu{}
.mainmenu ul li .megamenu.megamenu1 {left: -395px;}
.mainmenu ul li .megamenu.megamenu2{left: -485px;}
nav .navbar-header .menu-text-xs {text-transform: uppercase;float: left;margin-top: 15px;margin-left: 15px;}
#home-slider {height: 600px; margin-bottom: 30px;}
#home-slider .item {background-size: 100%; background-repeat: no-repeat; height: 600px;}
#home-slider .item h3 { font-size:60px; font-family: 'Lobster Two', cursive; margin-top: 200px;}
#home-slider .item h3 a {color:#90815b;}
#home-slider .item h3 a:hover {text-decoration: none;}
#home-slider .item .description {color: #6d604c;font-size: 20px;line-height: 20px;margin-bottom: 20px;}
#home-slider .item .add-to-cart {color:#4c4c4c; border: 2px solid #6d604c;border-radius: 30px;display: inline-block;font-size: 18px;padding: 5px 25px;text-transform: uppercase;}
#home-slider .item .add-to-cart:hover {background-color:#98ab3f; border-color:#98ab3f; color:#fff; text-decoration: none;}
.home-carousel .item img {max-height: 200px;margin: 0 auto;}
.carousel-control.left, .carousel-control.right {background-color: none; background-image: none;}
.carousel-control span { color:#98ab3f;}
.home-banners .single-banner {width: 50%;overflow: hidden;}
.home-banners .single-banner a {display: block;position: relative;}
.home-banners .single-banner img {transform: scale(1);transition: all .5s; max-width: 100%;height: auto;}
.new-products {background-color: #f6f7fb; padding-top: 70px; padding-bottom: 70px;}
.new-products h3 {text-align: center; font-family: 'Lobster Two', cursive; font-size:32px; color:#4c4c4c; font-weight: bold;text-transform: capitalize;}
.new-products .carousel-inner h1 {font-size:18px; text-align: center; font-weight: bold;}
.new-products .carousel-inner a { color:#4c4c4c; text-decoration: none;}
.new-products .carousel-inner .price {display: block; text-align: center; color:#98ab3f; font-weight: bold;}
.new-products .carousel-control i {color:#98ab3f;}
.new-products .add-to-cart { display: block; width: 150px; margin: 0 auto; background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e2dfdb;border-radius: 30px;color: #6d604c;font-size: 14px;font-weight: 700;padding: 11px 25px;text-transform: uppercase;transition: all .5s;}
.new-products .add-to-cart:hover {background-color:#98ab3f; color:#fff;}
.blog-posts { padding-top: 70px; padding-bottom: 70px;}
.blog-posts h3 {text-align: center; font-family: 'Lobster Two', cursive; font-size:32px; color:#4c4c4c; font-weight: bold;text-transform: capitalize;}
.blog-posts .carousel-inner img {margin-bottom: 10px;}
.blog-posts .carousel-inner h1 {font-size:24px; text-align: center; font-family: 'Lobster Two', cursive; margin: 0; margin-bottom: 10px;}
.blog-posts .carousel-inner a { color:#4c4c4c; text-decoration: none;} 
.blog-posts .carousel-inner .description { color:#888888; text-decoration: none; text-align: center; font-size: 14px;} 
.blog-posts .carousel-inner .time {display: block; text-align: center;} 
.blog-posts .read-more {color: #6d604c;display: block; text-align: center; font-size: 14px;font-weight: 600;letter-spacing: 5px;padding-top: 20px;text-align: center;text-transform: uppercase;}
.shop-dropdown { list-style : none; margin : 0; padding : 0; }
.dropdown-cart { height : auto; max-height : 250px; overflow-x : hidden; width : 265px; padding: 10px; }
.shop-dropdown a.dropdown-toggle { color : #333; font-size : 13px; }
.shop-dropdown a.dropdown-toggle:hover { text-decoration : none; }
.dropdown-cart li .item { display : block; margin : 3px 0; }
.dropdown-cart li .item:hover { background-color : #f3f3f3; }
.dropdown-cart li .item:after { clear : both; content : " "; display : block; font-size : 0; height : 0; visibility : hidden; }
.dropdown-cart li .item-in { float : left; }
.dropdown-cart li .item-in img { height : 50px; width : 50px; }
.dropdown-cart li .item-in a.item-info span { font-size : 12px; }
.dropdown-cart li .item-in a.item-info .product-name { display: block; }
.dropdown-cart .go-checkout {background-color: #e3e3e3;border: 1px solid #e3e3e3;color: #333;font-size: 1.4rem;font-weight: 700;padding: 13px 15px;transition: all 0.5s ease-out 0s;width: 100%;text-transform: uppercase;border-radius: 25px;}
.dropdown-cart .go-checkout:hover { background-color: #98AB3F; color:#fff; }
.dropdown-cart .item-x-absolute { position : absolute; right : 10px; }
.dropdown-cart li .item-in .left-side { float : left; width : 50px; }
.dropdown-cart li .item-in .right-side { border-bottom : 1px solid #f1f1f1; float : left; margin-left : 2px; width : 170px; }
.dropdown-cart .item-info .prices span { color : #fe3a3a; display : inline !important; }
.dropdown-cart .item-info .prices, ul.dropdown-cart .item-info .currency { color: #666; display: inline !important; font-size: 16px; font-weight: bold; }
#view-product h1 { margin: 0; padding: 0; text-transform: capitalize; color:#444444; font-size: 24px; margin-bottom: 10px;}
#view-product .product-info {background-color: #f6f7fb; padding: 10px;}
#view-product .product-info .add-to-cart { display: inline-block;  margin-bottom: 5px; border: 1px solid #e2dfdb;    border-top-color: rgb(226, 223, 219);    border-right-color: rgb(226, 223, 219);    border-bottom-color: rgb(226, 223, 219);    border-left-color: rgb(226, 223, 219);border-radius: 30px;color: #6d604c;font-size: 14px;font-weight: 700;padding: 11px 25px;text-transform: uppercase;transition: all .5s;}
#view-product .manage-buttons { padding-top: 10px; padding-bottom: 10px;}
#view-product #description {background-color: #f6f7fb; padding: 10px;}
#view-product #description .header {background-color: #f4f4f4; margin-top: -10px; margin-left: -10px; margin-right: -10px; padding: 20px;}
#view-product #description .header .title { color:#fff; background-color: #A0C03C; padding: 20px; margin-left: -20px;}
#view-product .top-part { margin-bottom: 20px; }
.inner-nav {background-color: #f1f1f1; padding: 20px; margin-bottom: 30px;}
.inner-nav .active {color:#A0C03C;}
#modalImagePreview { background-color : rgb(0,0,0); background-color : rgba(0,0,0,0.9); display : none; height : 100%; left : 0; overflow : auto; padding-top : 100px; position : fixed; top : 0; width : 100%; z-index : 100; }
#modalImagePreview .modal-content { text-align: center; display : block; margin : auto; max-width : 700px; width : 80%; }
#modalImagePreview #caption { color : #ccc; display : block; height : 150px; margin : auto; max-width : 700px; padding : 10px 0; text-align : center; width : 80%; }
#modalImagePreview .modal-content, #modalImagePreview #caption { animation-duration : 0.6s; animation-name : zoom; webkit-animation-duration : 0.6s; webkit-animation-name : zoom; }
#modalImagePreview .close { opacity: 1; color : #f1f1f1; font-size : 40px; font-weight : bold; position : absolute; right : -10px; top : -40px; transition : 0.3s; }
#modalImagePreview .close:hover,#modalImagePreview .close:focus { color : #bbb; cursor : pointer; text-decoration : none; }
#modalImagePreview img {max-width: 100%;}
.other-images-container .active img {border:3px solid #b1b1b1;}
.img-series {    bottom: -17px;    color: #fff;    font-size: 14px;    position: absolute;    right: 0;}
.img-sl { cursor: pointer;}
.orders-from-category {margin-bottom: 20px;}
.orders-from-category h2 {color: #4c4c4c;font-size: 28px;font-weight: bold;text-transform: capitalize; font-family: 'Lobster Two', cursive; text-align: center;}
.product-inner h3 {text-transform: uppercase; text-align: center;  font-weight: bold;  padding-top: 5px;margin: 5px 0;  margin-bottom: 5px;display: block;font-size: 16px;}
.product-inner .price {display: block; text-align: center; color:#98ab3f; font-weight: bold;}
.product-inner .add-to-cart { display: block; width: 150px; margin: 0 auto; background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e2dfdb;border-radius: 30px;color: #6d604c;font-size: 12px; text-align:center; font-weight: 700;padding: 11px 25px;text-transform: uppercase;transition: all .5s;}
.product-inner .add-to-cart:hover {background-color:#98ab3f; color:#fff; text-decoration: none;}
#checkout-page { margin-bottom: 20px;}
#checkout-page #goOrder {background-color: #f6f7fb; padding: 10px;}
#checkout-page #goOrder .form-control { border:1px solid #ebebeb; border-radius: 0; box-shadow: none;}
#checkout-page #goOrder label {font-size: 12px; color:#444444;}
#checkout-page .go-order { display: block; line-height: 50px; background: #a0c03c;border: medium none;color: #ffffff;font-size: 17px;font-weight: 600;height: 50px;margin: 20px 0 0;padding: 0;text-transform: uppercase;transition: all 0.5s ease 0s;width: 100%;}
#checkout-page h4 {font-family: 'Lobster Two', cursive;color: #4c4c4c;font-size: 28px;font-weight: bold;text-transform: capitalize;}
.table-products img.product-image { width : 80px; } 
.relative {position: relative;}
.payment-type-box { border : 1px solid #ccc; margin : 20px 0; padding : 12px; position : relative; }
.payment-type-box .top-header { background-color : #f6f7fb; font-size : 14px; left : 50%; margin-left : -75px; padding-left : 5px; padding-right : 5px; position : absolute; top : -12px; width : 149px; }
.remove-product { left : 0; position : absolute; top : 0; }
.btn-green {background-color: #a0c03c; color:#fff;}
#shopping-cart { margin-bottom: 20px;}
.btn-black {background-color: #2f2f2f; color:#fff;}
.btn-black:hover {color:#f1f1f1;}
#contacts {margin-bottom: 20px;}
#contacts #map {margin-bottom: 30px; height: 400px;  width: 100%;}
#contacts .contact-details {background-color: #f4f4f4; padding: 20px;}
#contacts .contact-form {background-color: #f4f4f4; padding: 20px; }
#contacts .contact-form .form-control {width: 100%; box-shadow: none;  border-radius: 0; height: 35px;border: 1px solid #ebebeb;margin-bottom: 30px;padding-left: 10px;}
#contacts .contact-form label { font-size:12px; font-weight: normal; color:#444;}
.blog-list .caption { color : #666; }
.blog-list small span { margin-right : 7px; }
.blog-list small, .blog-list small a, .blog-preview-time { color : silver; }
.blog-list .caption h5 { font-size : 16px; }
.blog-list img { width : 100%; }
#blog .thumbnail { border-radius : 0; }
.blog-preview-time { display : inline-block; margin-bottom : 10px; }
.blog-description { color : #666; font-size : 13px; }
.blog-artchive { list-style : none; margin-bottom : 20px; padding-left : 0; }
.blog-artchive .item { background : transparent none repeat scroll 0 0; border-color : -moz-use-text-color -moz-use-text-color #ccc; border-image : none; border-style : none none dotted; border-width : 0 0 1px; moz-border-bottom-colors : none; moz-border-left-colors : none; moz-border-right-colors : none; moz-border-top-colors : none; padding : 10px 0px; padding-left : 10px; }
.blog-artchive .item a { color : #666; }
.blog-home-left-categ { margin-bottom : 20px; }
.blog-list .description {height: 125px;overflow: hidden;}
.blog-list h5 {height: 40px; overflow: hidden;}
.blog-list .img-container {height: 400px; overflow: hidden;}
#shop-page { margin-bottom: 20px; }
#shop-page .categories {border:1px solid #98ab3f; border-radius: 5px;}
#shop-page .categories .body {padding: 10px;}
#shop-page .categories .title {background-color: #98AB3F; padding: 10px; color:#fff; text-transform: uppercase;}
#shop-page .categories ul { list-style : none; padding : 0; margin:0; }
#shop-page .categories ul li, div.filter-sidebar ul li a { margin-bottom : 4px; }
#shop-page .categories ul li a { color : #6d6d6d; display : inline-block; font-size : 13px; }
#shop-page .categories ul li a.selected, div.filter-sidebar ul li a:hover { color : #1e88e5; }
#shop-page .product-inner .img-responsive {margin: 0 auto;}
#show-xs-nav { border : 1px solid #666; color : #666; font-size : 15px; padding : 3px; text-align : center; text-decoration : none; }
#show-xs-nav span i { margin-left : 5px; }
#shop-page .bootstrap-select > .dropdown-toggle.bs-placeholder, #shop-page .bootstrap-select > .dropdown-toggle.bs-placeholder:active, #shop-page .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, #shop-page .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {color:#fff;}
#products-side h1 {font-family: 'Lobster Two', cursive; margin: 0; margin-bottom: 20px;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > li > a, .pagination > li > span {color:#98ab3f;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {background-color: #98ab3f; border:1px solid #98ab3f; color:#fff;}
footer .footer {background-color: #f4f4f4;}
.footer p { margin : 0; }
.footer img { max-width : 100%; }
.footer h3 { border-bottom : 1px solid #BAC1C8; color: #333; font-size : 18px; font-weight : 600; line-height : 27px; padding : 40px 0 10px; text-transform : uppercase; }
.footer ul { color : #7F8C8D; list-style-type : none; margin-left : 0; margin-top : 15px; padding-left : 0; }
.footer ul li a { display : block; padding : 0 0 5px 0; }
.footer a, .footer p { color : #78828D; }
.footer p , .footer ul { font-size : 13px; }
footer .footer-bottom { padding-top: 20px; padding-bottom: 20px; border-bottom: 2px solid #e5e5e5; }
#notificator { display : none; left : 50%; margin-left : -100px; padding : 15px 25px; position : fixed; text-align : center; top : 20px; width : 200px; z-index : 5000; }

@media (min-width: 992px) and (max-width: 1199px) { 
    #home-slider, #home-slider .item  {height: 500px;}
    #home-slider .item h3 {margin-top: 80px; font-size:38px;}
    #home-slider .item .description {font-size:18px;}
}

@media (min-width: 768px) and (max-width: 991px) { 
    #home-slider, #home-slider .item  {height: 400px;}
    #home-slider .item h3 {margin-top: 80px; font-size:32px;}
    #home-slider .item .description {font-size:16px;}
    #nav-categories, #show-xs-nav .hidde-sp { display : none; }
    .mainmenu ul li .megamenu { width: 600px; left:50%; margin-left: 0;}
}

@media (min-width: 991px) {
    #nav-categories { display : block !important; }
}

@media screen and (max-width: 767px) {
    #home-slider, #home-slider .item  {height: auto;}
    #home-slider .item h3 {margin-top: 0; font-size:20px;}
    #home-slider .item .description {font-size:14px;}
    #home-slider .item .add-to-cart {padding: 5px 15px; font-size:12px;}
    .header .search {float:none;}
    .header .phone, .header .dropdown-langs { float: none;}
    .header .dropdown-langs { margin-bottom: 10px;}
    .home-banners .single-banner { width:100%; margin-bottom: 10px;}
    .navbar-header {background-color: #262626; color:#ffffff;margin-left: 40px;margin-right: -40px;margin-top: 10px;}
    .navbar-toggle span {background-color:#fff;}
    .mainmenu li { display: block; padding-left: 60px;}
    .multi-item-carousel .item .col-xs-12:nth-child(2), .multi-item-carousel .item .col-xs-12:nth-child(3) {display: none;}
    .multi-item-carousel .item a .img-responsive { margin: 0 auto;}
    #nav-categories, #show-xs-nav .hidde-sp { display : none; }
}

@media (max-width: 480px) { 
}