/* Language bar */

/* Main nav */
.navbar {background-color:#f3f3f3;-webkit-box-shadow: -3px 10px 4px -8px rgba(0,0,0,0.13);-moz-box-shadow: -3px 10px 4px -8px rgba(0,0,0,0.13);box-shadow: -3px 10px 4px -8px rgba(0,0,0,0.13);}
a.navbar-brand, .nav li a {color:#777;}