html, body { height: 100%;}
body { font-family:arial; padding-top:0; color:#424449;}

#wrapper { min-height: 100%; position: relative;}
#content {padding-bottom:100px;}

#languages-bar {background-color:#333; padding:3px 0;}
#languages-bar ul {margin:0; padding:0; margin-left:-10px;}
#languages-bar ul li {display:inline; margin-left:10px; padding-right:10px; border-right:1px solid #efefef; text-transform:capitalize;}
#languages-bar ul li a {color:#efefef; font-size:13px;}
#languages-bar ul li img {width:16px; height:11px; margin-right: 2px; margin-top: -2px;}
#languages-bar ul li.last-item {border-right:none;}

#top-part { background-color:#f9f9f9; padding:10px 0; height:85px; }
#top-part #adv-search .dropdown.dropdown-lg .dropdown-menu { margin-top: -1px; padding: 14px 20px;}
#top-part #adv-search .input-group-btn .btn-group { display: flex !important;}
#top-part #adv-search .btn-group .btn {border-radius: 0; margin-left: -1px;}
#top-part #adv-search .btn-group .form-horizontal .btn[type="submit"] { border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
#top-part #adv-search .form-horizontal .form-group {margin-left: 0; margin-right: 0;}
#top-part #adv-search .form-group .form-control:last-child { border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#top-part #adv-search .dropdown.dropdown-lg .dropdown-menu {width: 515px;}
#top-part ul.shop-dropdown {list-style:none; padding:0; margin:0; margin-right:-15px;}
#top-part ul.shop-dropdown li.text-right {padding:10px 12px;}
#top-part div.center {padding-top:15px;}
#top-part div.right {padding-top:13px;}
#top-part div.left img {max-height:65px;}
#top-part ul.dropdown-cart{width:265px;  height: auto; max-height: 250px; overflow-x: hidden;}
#top-part ul.shop-dropdown a.dropdown-toggle {background: #efefef none repeat scroll 0 0; border: 1px solid #e5e5e5; color: #666; padding: 10px 12px;}
#top-part ul.dropdown-cart li .item{display:block;padding:3px 10px;margin: 3px 0;}
#top-part ul.dropdown-cart li .item:hover{ background-color:#f3f3f3;}
#top-part ul.dropdown-cart li .item:after{ visibility: hidden;  display: block; font-size: 0;  content: " "; clear: both; height: 0;}
#top-part ul.dropdown-cart li .item-in {float:left;}
#top-part ul.dropdown-cart li .item-in img {height:50px; width:50px;}
#top-part ul.dropdown-cart li .item-in a.item-info span {display:block; font-size:12px;}
#top-part ul.dropdown-cart a.go-checkout {display:inline-block; margin-bottom:7px;}
#top-part ul.dropdown-cart .item-x-absolute {position:absolute; right:10px;}
#top-part ul.dropdown-cart li .item-in .left-side {width:50px; float:left;}
#top-part ul.dropdown-cart li .item-in .right-side {float: left; margin-left: 2px; width: 170px; border-bottom: 1px solid #f1f1f1;}
#top-part ul.dropdown-cart .item-info .prices span {display:inline !important; color:#fe3a3a;}
#top-part ul.dropdown-cart .item-info .prices, #top-part ul.dropdown-cart .item-info .currency {color:#fe3a3a; display: inline !important;}
#top-part #search_in_title {border-radius:0; box-shadow:none;}

.nav  > li  > a:hover, .nav > li > a:focus  {background-color:#4285f4; color:#fff;}

#home-slider {margin-bottom:40px; height:370px;}
#home-slider .right-side {padding-top:60px;}
#home-slider .left-side img {max-height:370px;}
#home-slider .description { color: #666; margin-bottom: 15px;}
#home-slider .price {font-size:40px; margin-bottom: 15px;}
#home-slider .carousel-control {background-color:none; }
#home-slider .carousel-control.left, #home-slider .carousel-control.right  { background-image: url('../imgs/carousel-sprite.png');}
#home-slider .carousel-control.left	{ background-position: 0 center; width: 100px; }
#home-slider .carousel-control.right	{  background-position: -100px center; width: 100px; }
#home-slider a.option {float:right; text-transform:uppercase; background: #fff none repeat scroll 0 0; border: 1px solid #ddd; color: #000; cursor: pointer; font-size: 0.85em; outline: medium none; padding: 10px 30px; transition: all 0.3s ease 0s;}
#home-slider a.option.right-5 {margin-right: 5px;}
#home-slider a.option:hover {text-decoration:none;}
#home-slider .carousel-indicators li {border:1px solid #333;}
#home-slider .carousel-indicators .active {background-color:#333;}

.oaerror { width: 100%;  margin: 0 auto; background-color: #FFFFFF;  padding: 20px; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; margin: 0 auto; font-family: 'Open Sans', sans-serif; font-size: 16px;}
.oaerror.info { border-left-color: #5bc0de;  background-color: rgba(91, 192, 222, 0.1);}
.oaerror.info strong {  color: #5bc0de;}
.table-products img.product-image {width:80px;}

nav.navbar-silver {background-color:#f3f3f3;-webkit-box-shadow: -3px 10px 4px -8px rgba(0,0,0,0.13);-moz-box-shadow: -3px 10px 4px -8px rgba(0,0,0,0.13);box-shadow: -3px 10px 4px -8px rgba(0,0,0,0.13);}
nav a.navbar-brand, .navbar-nav > li > a {color:#777;}

div.filter-sidebar {margin-bottom:30px;}
div.filter-sidebar .title, .title.alone { border-bottom: 3px solid #90caf9; font-size: 18px;  line-height: 1;  margin: 0 0 10px;   padding: 0;}
div.filter-sidebar .title span, .title.alone span { border-bottom: 3px solid #1e88e5; display: inline-block; margin-bottom: -3px; padding-bottom: 10px; color:#666;}
div.filter-sidebar ul {list-style:none; padding:0;}
div.filter-sidebar ul li, div.filter-sidebar ul li a {margin-bottom:4px;}
div.filter-sidebar ul li a {color:#6d6d6d; font-size:13px; display:inline-block;}
div.filter-sidebar ul li a.selected,  div.filter-sidebar ul li a:hover {color:#1e88e5;}
div.filter-sidebar ul.children {padding-left:13px;}
div.filter-sidebar ul.parent i,  div.filter-sidebar ul.children i {font-size:10px;}
div.filter-sidebar .title a.clear-filter,  div.filter-sidebar .title i {color:#666; float:right;}

div.product-list {margin-bottom: 5px; padding-bottom: 15px; padding-top: 15px; cursor:pointer;}
#products-side  div.product-list:hover, #small_carousel.carousel .carousel-inner {box-shadow:0 6px 12px rgba(0, 0, 0, 0.176); outline:1px solid #aaa;}
div.product-list div.inner div.img-container {overflow: hidden; margin-bottom:10px;}
div.product-list div.inner div.img-container a {display: block; overflow:hidden;}
div.product-list div.inner div.img-container a img {height:200px;}
div.product-list h2  {margin:0; margin-bottom:10px; line-height:10px;}
div.product-list h2 a {color: #666; font-size:12px; }
div.product-list h2 a:hover {text-decoration:none;}
div.product-list div.price span.underline {text-decoration:underline;}
div.product-list div.price span, div.product-list div.quantity span {font-weight:bold;}
div.product-list div.price-discount {text-decoration:line-through;}
div.product-list div.price span.price-down {text-decoration:none; background-color:#f44336; color:#fff; font-weight:normal;}
div.product-sort {display: inline-block; margin-bottom: 20px; width: 100%; border: 1px solid #e5e5e5; padding:10px 20px;}
div.product-sort .form-group {margin-bottom:0;}

button.btn-blue {box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); background-color:#4285f4; color:#fff;}
button.btn-blue:hover { color:#fff;}

.paypal-image {margin: 20px 0;}
#checkout-page form .btm-10 {margin-bottom:10px;}
#checkout-page .paypal-form {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
padding-top:10px;
}
.payment-type-box {padding: 12px; border:1px solid #ccc; margin: 20px 0; position: relative;}
.payment-type-box .top-header {background-color: #fff; font-size: 14px;  left: 50%; margin-left: -75px; padding-left: 5px; padding-right: 5px; position: absolute; top: -12px; width: 149px;}
#checkout-page .form-control { border-radius:0; box-shadow: none; color:#666; font-size:13px;}
#checkout-page .form-group label {font-size:13px; color:#666;}
#checkout-page .left-side {margin-bottom:30px;}

#small_carousel.carousel { padding-bottom: 60px;}
#small_carousel.carousel .carousel-inner .item {opacity: 0; -ms-transition-property: opacity; transition-property: opacity; text-align:center;}
#small_carousel.carousel .carousel-inner .active { opacity: 1;  -webkit-transition-property: opacity; -ms-transition-property: opacity; transition-property: opacity;}
#small_carousel.carousel .carousel-indicators { bottom: 10px;}
#small_carousel.carousel .carousel-indicators > li { background-color: #1e88e5; border: none;}
#small_carousel blockquote {text-align: center; border: none;}
#small_carousel .profile-circle {width: 100px; height: 100px; margin: 0 auto; border-radius: 100px;}
#small_carousel .profile-circle img {width:100%;}
#small_carousel .carousel-indicators .active {height:15px; width:15px;}

#view-product  h1  {font-size:20px;margin-top:0; margin-bottom:40px;}
#view-product .the-image {border: 1px solid #ddd; padding: 5px; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
#view-product .orders-from-category {padding-top:80px;}
#view-product .row-info {padding:10px 0 0; }
#view-product .border-bottom {border-bottom: 1px solid #d7d7d7; margin-left: 10px; margin-right: 10px; margin-top:10px;}

#contacts  .jumbotron {background: #358CCE;color: #FFF;border-radius: 0px;}
#contacts .jumbotron-sm { padding-top: 24px;padding-bottom: 24px; }
#contacts .jumbotron small {color: #FFF;}
#contacts .h1 small {font-size: 24px;}

.blog-list .caption {color: #666;}	
.blog-list small span { margin-right: 7px;}
.blog-list small, .blog-list small a, .blog-preview-time { color: silver;}
.blog-list .caption h5 { font-size: 16px;}
.blog-list img {width: 100%;}
.blog-list {padding-bottom: 25px;}
#blog .thumbnail { border-radius: 0;}
.blog-preview-time {display:inline-block; margin-bottom:10px;}
.blog-description {font-size:13px; color:#666;}
.blog-artchive {   margin-bottom: 20px;   padding-left: 0; list-style:none;}
.blog-artchive .item { -moz-border-bottom-colors: none; -moz-border-left-colors: none; padding:10px 0px;  -moz-border-right-colors: none; -moz-border-top-colors: none;  background: transparent none repeat scroll 0 0; border-color: -moz-use-text-color -moz-use-text-color #ccc;  border-image: none;  border-style: none none dotted; border-width: 0 0 1px;  padding-left: 10px;}
.blog-artchive .item a {color:#666;}
.blog-home-left-categ {margin-bottom:80px;}

.add-to-cart a img {display:none;}
div#notificator {padding:15px 25px; width:200px; position:fixed; top:20px; left:50%; margin-left:-100px; z-index:5000; text-align:center; display:none; }

#myImg { border-radius: 5px;  cursor: pointer;  transition: 0.3s;}
#myImg:hover {opacity: 0.7;}
#modalImagePreview {  display: none;  position: fixed;  z-index: 100;  padding-top: 100px;  left: 0;  top: 0;  width: 100%;   height: 100%;  overflow: auto;     background-color: rgb(0,0,0);    background-color: rgba(0,0,0,0.9);}
#modalImagePreview .modal-content {   margin: auto;  display: block;  width: 80%;   max-width: 700px;}
#modalImagePreview #caption {    margin: auto;    display: block;    width: 80%;    max-width: 700px;    text-align: center;    color: #ccc;    padding: 10px 0;    height: 150px;}
#modalImagePreview .modal-content, #modalImagePreview #caption {    -webkit-animation-name: zoom;    -webkit-animation-duration: 0.6s;    animation-name: zoom;    animation-duration: 0.6s;}
@-webkit-keyframes zoom {    from {-webkit-transform:scale(0)}    to {-webkit-transform:scale(1)}}
@keyframes zoom {    from {transform:scale(0)}    to {transform:scale(1)}}
#modalImagePreview .close {    position: absolute;    top: 15px;    right: 35px;    color: #f1f1f1;    font-size: 40px;    font-weight: bold;    transition: 0.3s;}
#modalImagePreview .close:hover,#modalImagePreview .close:focus {    color: #bbb;    text-decoration: none;    cursor: pointer;}
@media only screen and (max-width: 700px){ #modalImagePreview .modal-content {        width: 100%;    }}

.other-img-preview {width:100px; height: 100px; cursor: pointer; margin-bottom:10px;}

footer { width:100%;height:10px;position:absolute;bottom:0;left:0;}

.full { width: 100%;	}
.gap {height: 30px;width: 100%;clear: both;display: block;}
.footer {background: #EDEFF1;height: auto;padding-bottom: 30px;position: relative;	width: 100%;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #DDDDDD;}
.footer p {	margin: 0;}
.footer img {	max-width: 100%;}
.footer h3 {	border-bottom: 1px solid #BAC1C8;	color: #54697E;	font-size: 18px;	font-weight: 600;	line-height: 27px;	padding: 40px 0 10px;	text-transform: uppercase;}
.footer ul {list-style-type: none;	margin-left: 0;	padding-left: 0;	margin-top: 15px;	color: #7F8C8D;}
.footer ul li a {	padding: 0 0 5px 0;	display: block;}
.footer a, .footer p {	color: #78828D}
.footer p , .footer ul {font-size:13px;}
.supportLi h4 {	font-size: 20px;	font-weight: lighter;	line-height: normal;	margin-bottom: 0 !important;	padding-bottom: 0;}
.newsletter-box input#appendedInputButton {	background: #FFFFFF;	display: inline-block;	float: left;	height: 30px;	clear: both;	width: 100%;}
.newsletter-box .btn {	border: medium none;	-webkit-border-radius: 7px;	-moz-border-radius: 7px;	-o-border-radius: 7px;	-ms-border-radius: 7px;	border-radius: 7px;	display: inline-block;	height: 40px;	padding: 0;	width: 100%;	color: #333;}
.newsletter-box {	overflow: hidden;}
.bg-gray {	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);	box-shadow: 0 1px 0 #B4B3B3;}
.social li {	background: none repeat scroll 0 0 #B5B5B5;	border: 2px solid #B5B5B5;	-webkit-border-radius: 50%;	-moz-border-radius: 50%;	-o-border-radius: 50%;	-ms-border-radius: 50%;	border-radius: 50%;	float: left;	height: 36px;	line-height: 36px;	margin: 0 8px 0 0;	padding: 0;	text-align: center;	width: 36px;	transition: all 0.5s ease 0s;	-moz-transition: all 0.5s ease 0s;	-webkit-transition: all 0.5s ease 0s;	-ms-transition: all 0.5s ease 0s;	-o-transition: all 0.5s ease 0s;}
.social li:hover {	transform: scale(1.15) rotate(360deg);	-webkit-transform: scale(1.1) rotate(360deg);	-moz-transform: scale(1.1) rotate(360deg);	-ms-transform: scale(1.1) rotate(360deg);	-o-transform: scale(1.1) rotate(360deg);}
.social li a {	color: #EDEFF1;}
.social li:hover {	border: 2px solid #2c3e50;	background: #2c3e50;}
.social li a i {	font-size: 16px;	margin: 0 0 0 5px;	color: #EDEFF1 !important;}
.footer-bottom {	background: #E3E3E3;	border-top: 1px solid #DDDDDD;	padding-top: 10px;	padding-bottom: 10px;}
.footer-bottom p.pull-left {	padding-top: 6px;}
.payments {	font-size: 1.5em;	}
.footer .footer-icon span i {border: 1px solid #a3a3a3;  border-radius: 100%; height: 30px; line-height: 25px;margin-bottom: 5px;    margin-right: 5px;    text-align: center;    width: 30px;}
.f-cont-info {word-break: break-all; width: 70%;}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) { 
    #top-part #adv-search .dropdown.dropdown-lg .dropdown-menu {width: 415px;}
    #home-slider {height:360px;}
    #home-slider .right-side h3 {font-size:16px;}
    #home-slider .price {font-size:28px;}
    #home-slider .left-side img {max-height:360px;}
    .other-img-preview {width:75px; height: 75px;}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #top-part ul.shop-dropdown a.dropdown-toggle {font-size:12px;}
    #top-part #adv-search .dropdown.dropdown-lg .dropdown-menu {width: 305px;}
    #home-slider {height:280px;}
    #home-slider .right-side h3 {font-size:16px;}
    #home-slider .price {font-size:20px;}
    #home-slider .right-side {padding-top:10px;}
    #home-slider .left-side img {max-height:280px;}
}
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) { 
    #products-side {padding-left: 15px; padding-right: 15px;}
    #top-part {height:auto;}
    #top-part ul.shop-dropdown {margin:0 auto; width:200px;}
    div.product-list {text-align:center;}
    #view-article .the-image {margin-bottom:40px;}
    #top-part #adv-search .dropdown.dropdown-lg .dropdown-menu {width: auto;}
    .navbar-toggle{border-color:#666;}
    .navbar-toggle .icon-bar   {background-color:#666;}
    #home-slider {height:auto;padding-bottom:60px;}
    #home-slider .right-side .text-right {text-align:center; }
    #home-slider .right-side a.option {float:none;}
    #home-slider .right-side a.option.right-5 {margin-left:5px;}
    #home-slider .right-side .xs-center {text-align:center; height:50px;}
    .ord {margin-bottom:7px;}
    #view-article .filter-sidebar {padding-left:10px; padding-right:10px;}
    #view-article a.btn:first-child {margin-bottom:5px;}
    #view-article div.product-list {margin-left:10px; margin-right:10px;}
    #view-product .the-image {margin-bottom:30px;}
    .other-img-preview {width:75px; height: 75px; margin-bottom:50px;}
    #nav-categories, #show-xs-nav .hidde-sp {display:none;}
    #show-xs-nav { border: 1px solid #666; font-size: 15px; padding: 3px; text-decoration: none; text-align: center; color:#666;}
    #show-xs-nav span i {margin-left: 5px;}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    #home-slider .carousel-control.right {background-position: -140px center; width: 50px;}
    #home-slider .carousel-control.left {background-position: 0 center; width: 50px;}
    #checkout-page a.pull-right {float:left !important; margin-top: 10px;}
    #view-product a.add-to-cart {margin-bottom: 5px;}
} 
